/* About me page */
body{
    background-color:#dddddd;
    /* background-image: url(/Basic-portfolio.html/assets/images/crossline-lines.png) */
    padding:125px;
}
#header-link{
    background-color:#4aaaa5;
    color:whitesmoke;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width:220px;
    height:40px;
    margin:0%;
    padding:50px,75px,50px,75px;
    /* border-style:;
    border:;
    border-color:; */
}

#contact-link{
    float:right;
    margin-right:50px;
}
#portfolio-link{
    float:right;
    margin-right:10px;
    }
#about-link{
    float:right;
    margin-right:10px;
    }
#links{
    float:center;
}  
a { 
    color: #777777;
    text-decoration: none;
}
#white-box{
    background:white;
    width:960px;
    height:300px;
    margin: 0%;
}  
h2{
    color:#4aaaa5;
}
#photo{
    float:left;
    width: 15%;
}
input { 
    border: 1px solid #ccc;
    font-size: 15px;
    margin: 10px 0 10px 0;
    padding: 7px;
    width: 882px;
}
textarea { 
    border: 1px solid #ccc;
    height: 275px;
    margin: 10px 0 15px 0;
    padding: 7px;
    min-width: 882px;
}
footer{
    background:#666666;
    width:960px;
    font-size:10pt; 
    height:30px;
}
/* About me page-end */

/* Contact page */
